$primary1:       #7D005F;
$primary1-l1:    #9E4087; // mix($primary1, #FFF, 75%);
$primary1-l2:    #BE80AF; // mix($primary1, #FFF, 50%);
$primary1-l3:    #DFBFD7; // mix($primary1, #FFF, 25%);
$primary1-l4:    #F2E6EF; // mix($primary1, #FFF, 10%)
$primary1-d1:    #5A0044;

$primary2:       #548325;
$primary2-l1:    #7FA25C; // mix($primary2, #FFF, 75%);
$primary2-l2:    #AAC192; // mix($primary2, #FFF, 50%);
$primary2-l3:    #D4E0C9; // mix($primary2, #FFF, 25%);
$primary2-l4:    #EEF3E9; // mix($primary2, #FFF, 10%);
$primary2-d1:    #2E4714; // darken($primary2, 15%);

$primary3:       #72C0E8;
$primary3-l1:    #95D0EE; // mix($primary3, #FFF, 75%);
$primary3-l2:    #B9E0f4; // mix($primary3, #FFF, 50%);
$primary3-l3:    #DCEFF9; // mix($primary3, #FFF, 25%);
$primary3-l4:    #F1F9FD; // mix($primary3, #FFF, 10%);
$primary3-d1:    #30A3DD; // darken($primary3, 15%);

$secondary1:     #E2113F;
$secondary1-l1:  #E94D6F; // mix($secondary1, #FFF, 75%);
$secondary1-l2:  #F1889F; // mix($secondary1, #FFF, 50%);
$secondary1-l3:  #F8C4CF; // mix($secondary1, #FFF, 25%);
$secondary1-l4:  #DCE7EC; // mix($secondary1, #FFF, 10%);
$secondary1-d1:  #9B0C2B; // darken($secondary1, 15%);

$secondary2:     #EFB309;
$secondary2-l1:  #F3C647; // mix($secondary2, #FFF, 75%);
$secondary2-l2:  #F7D984; // mix($secondary2, #FFF, 50%);
$secondary2-l3:  #FBECC2; // mix($secondary2, #FFF, 25%);
$secondary2-l4:  #FDF7E6; // mix($secondary2, #FFF, 10%);
$secondary2-d1:  #A57C06; // darken($secondary2, 15%);

$secondary3:     #BAD1CD;
$secondary3-l1:  #CBDDDA; // mix($secondary3, #FFF, 75%);
$secondary3-l2:  #DDE8E6; // mix($secondary3, #FFF, 50%);
$secondary3-l3:  #EEF4F3; // mix($secondary3, #FFF, 25%);
$secondary3-l4:  #F8FAFA; // mix($secondary3, #FFF, 10%);
$secondary3-d1:  #8CB2AC; // darken($secondary3, 15%);

$neutral1:       #BFBDB8;
$neutral2:       #FFFFFF;
$neutral3:       #D9D6D0;
$neutral3-1:     #F2EFE9;
// $neutral3-2:  #??????;
$neutral3-3:     #FAF7F2;
$neutral3-4:     #807E7A;
$neutral3-5:     #4D4B49;
$neutral3-6:     #363433;
